/* body{
	background: #dedede;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.menu{
	margin: 0 auto;
}
nav{
	height: 60px;
	background: #2c3e50;
	box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.logoo{
	padding: 5px 0 0 80px;
	width: 150px ;
	height: auto;
}
nav ul {
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;

}
nav ul li{
	background: #2c3e50;
	position:  relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display:  block;
	padding: 0 15px;
	color:  white;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;


}
nav ul li a:hover{
	background: #243342;
	
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none ;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width:  150px;
	float: none;
	display: list-item;
	position: relative;
}

.ann{
 padding: 20px;
 margin: 10px;
 display: block;
 border-radius: 10px ;
 

}
.ann p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px

}
.updatebtn{
	display: inline;
	background: #05993b;
	padding: 14px 40px;
	border-radius: 10px;
	color: #070707;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	float: right;
}
.deletebtn{
	display: block;
	background: #a50a0a;
	padding: 14px 40px;
	border-radius: 10px;
	color: #070707;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	float: right;
} */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1,h2,h3,h4,h5,h6{
	font-family: cursive;
}
.pro{
	margin-left: 35%;
	color: white;
	font-size: 15px;
	line-height: 30px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrap{
	background: rgba(0,0,0,0.5) url(pexels-tirachard-kumtanom-733857.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	background-blend-mode: overlay;
	
}

.wrapp{
	background: rgba(0,0,0,0.5) url(pexels-tirachard-kumtanom-733857.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	
	background-blend-mode: overlay;
}
.wave{
	position: absolute;
	width: 100%;
	bottom: -140px;
	color:  rgb(248, 116, 8);
	opacity: 1;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 80px;
	background: linear-gradient(to top,transparent , rgba(0,0,0,0.6));

}
header .logo{
	font-size: 24px;
	font-weight: 700;
	color: rgb(248, 116, 8);
	float: left;
}
header .menu{
	float: right;
	margin-top: 5px;

}
header ul li{
	display: inline-block;
}
header ul li a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(253, 252, 251);
	margin: 0 25px;
	font-weight: 300;
	letter-spacing: 1px;
}
.content{
	max-width: 55%;
	padding: 200px 80px 0;
	color: #fff;
}
.content h1{
	font-size: 48px;

}
.content p{
	font-size: 20px;
	padding: 25px 0;
	font-weight: 300;
}
.content .btngroup{
	margin-top: 45px;
}
.content a{
	display: inline-block;
	padding: 15px 45px;
	text-decoration: none;
	color: #fff;
	border-radius: 50px;
}
.content a.color1{
	background-color:  rgb(248, 116, 8)
}


.formm{

	width: 800px;
	background-color: rgb(0,0,0,0.6);
	margin: auto;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;

}

.logoo {
	width: 120px;
	margin-left: 40%;
}
.fformm{

	width: 800px;
	background-color: rgb(0,0,0,0.6);
	margin: auto;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	margin-top: 60px;
	border-radius: 15px 15px 0px 0px;

}
.main{
 background-color: rgb(0,0,0,0.5);
 width: 800px;
 margin: auto;	
}

form{
	padding: 10px;
}
#name{
	width: 100%;
	height: 100px;
}
.name{
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: white;
	font-size: 18px;
	font-weight: 700;
}


.firstname{
	position:relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
}
.lastname{
	position: relative;
	left: 417px;
	top: -80px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555


}

.firstlabel{
	position: relative;
	color: #E5E5E5 ;
	text-transform: capitalize;
	font-size: 14px;
	left: 203px;
	top: -45px;
}

.lastlabel{
	position: relative;
	color: #E5E5E5 ;
	text-transform: capitalize;
	font-size: 14px;
	left: 175px;
	top: -45px;
}
.option{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 532px;
	height: 40px;
	border-radius:  6px;
	padding: 0 22px;
	font-size:  16px;
	color: #555;
	outline: none;
	overflow: hidden;
}

.option option{
	font-size: 20px;
}
.date{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 532px;
	border-radius: 6px;
	padding: 0 22px;
	font-size:  16px;
	color: #555;
}

button{
	background-color: #3BAF9F;
	display: block;
	margin: 20px 0px 0px 20px;
	text-align: center;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 14px 110px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;

}

button :hover {
	background-color: #5390f5;

}

.btnreset{
	background-color: #1d9731;
	display: block;
	margin-left: 30%;
	margin-bottom: 100px;
	text-align: center;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 14px 90px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;

}

.ann{
	position: relative;
	top: 40px;
	margin-top: 60px;
	margin-left: 40px;
	font-family: cursive;
	line-height: 25px;
	color: white;
	
	
}

.btnupdate{
	background-color: #0ba550;
	display:block;
	margin: 10px 0px 0px 20px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #000000;
	padding: 10px 60px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;


}

.btndelete{
	background-color: #c40f0f;
	display: block;
	margin: 10px 0px 0px 20px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #000000;
	padding: 10px 53px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;
	


}
.status{
	
		margin-left: 25px;
		margin-top: 10px;
		width: 125px;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 700;
	}
	
